.theme-dark {
    --color-background: #121212;
    --color-foreground: #1E1E1E;
    --color-primary: #BB86FC;
    --color-secondary: #03DAC6;
    --color-text: #FFFFFF;
    --color-text-secondary: #B3B3B3;
    --color-border: #333333;
    --color-accent: #3700B3;

    --color-gray-primary: #1f1f1f;
    --color-gray-secondary: #2c2c2c;
}