.theme-dark {
    --color-background: #121212;
    --color-foreground: #1E1E1E;
    --color-primary: #BB86FC;
    --color-secondary: #03DAC6;
    --color-text: #f1f1f1;
    --color-text-secondary: #B3B3B3;
    --color-border: #333333;
    --color-accent: #3700B3;

    --color-text-light: #cdcdcd;

    --color-gray-primary: #1f1f1f;
    --color-gray-secondary: #2c2c2c;
    --color-gray-tertiary: #3b3b3b;
    --color-gray-quaternary: #4a4a4a;
                
    --color-gray-tertiary-hover: #5f5f5f;
    --color-text-light-hover: #f7f7f7;
}