.theme-dark {
  /* Primary Colors */
  --color-background: #121212;
  --color-background-secondary: #1E1E1E;
  --color-background-tertiary: #2C2C2C;
  --color-text: #d4d4d4;
  --color-text-secondary: #B3B3B3;
  --color-border: #333333;
  --color-border-secondary: #0c0c0c;

  /* grey Shades */
  --color-gray-primary: #1E1E1E;
  --color-gray-secondary: #2C2C2C;
  --color-gray-tertiary: #3A3A3A;
  --color-gray-quaternary: #4A4A4A;

  /* Button */
  --color-button-background: var(--color-gray-secondary);
  --color-button-background-hover: var(--color-gray-tertiary);
  --color-button-text: var(--color-text);
  --color-button-border: var(--color-border);
}