#ScriptEditor{
    height:100%;
    padding-top: 33px;
}

.helperFullSize{
    height: calc(100% - 100px);
    overflow: hidden;
}

.helperMinSize{
    height: 25px;
    grid-template-rows: 25px;
    overflow: hidden;
}

#ScriptHelper{
    position: absolute;
    right: 20px;
    bottom: 5px;
    width: 250px;
    padding: 5px;
    display: grid;
    grid-template-rows: 25px 25px 0.5fr 25px 1fr;
    background-color: #484848;
    border-radius: 5px;
    transition:0.3s;
    .textArea{
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        resize: none;
    }

    .h2{
        font-size: 15px;
    }

    .h1{
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        padding-right: 5px;
    }

}