.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    span{
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .es{
        font-size: 12px;
    }
    .s{
        font-size: 13px;
    }
    .m{
        font-size: 14px;
    }
    .l{
        font-size: 16px;
    }
    .el{
        font-size: 18px;
    }
}