.chamber-dropdown{
    .dropdown-selected{
        background: #373737;
        padding: 2px 5px;
        min-width: 70px;
        border-radius: 3px;
        cursor: pointer;
    }

    .dropdown-options{
        background: #3d3d3d;
        border-radius: 3px;
        box-shadow: 0px 0px 2px 2px rgb(81 81 81);
        margin-top: 5px;
        min-width: 80px;
        position: absolute;
        z-index: 1000;

        .dropdown-item{
            padding: 5px 10px;
            cursor: pointer;
            color: #d1d1d1;

            &:hover{
                background: #4a4a4a;
            }
        }
    }
}