.AppBottomMenu{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 300px 1fr 300px;
    background-color: var( --color-background-2);
    padding-left: 1px;
    padding-right: 1.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    .left{
        display: flex;
        align-items: center;
        gap: 2px;
        justify-content: left;
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 2px;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
}