.UI-HeaderToolbar{
    background-color: var(--color-gray-secondary);
    border: solid 2px var(--color-background);
    border-bottom: none;
    height: calc(100%);
    width: calc(100% - 5px);
    border-top-left-radius: 6px;
    border-top-right-radius:6px;
    display: flex;
    flex-direction: column;
    .header{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        flex-grow: 1;
        height: 28px;
        border-bottom: 2px solid var(--color-background);
        .UI-HeaderToolbar-Right{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;  
        }
    }
    .moreContent{
        height: calc(100% - 30px);
    }
}

.UI-HeaderToolbar.ExpandedMode {
    height: calc(100% - 2px);
}