.UI-HeaderToolbar{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    &:hover {
        .UI-HeaderToolbar-Right i{
            opacity: 1;
        }
    }
    .UI-HeaderToolbar-Right{
        display: flex;
        align-items: center;
        gap: 10px;
        height: 100%;
        .fa-window-maximize{
            transform: scale(0.85);
        }
        i{
            transition: 0.1s;
            opacity: 0.5;
            cursor: pointer;
            font-size: var(--size-medium);
            color: var(--color-text-secondary);
            &:hover{
                color: var(--color-text-primary);
            }
        }
    }
}