.Popup_Container{
    width: 70vw;
    height: 70vh;
    background: #303030;
    border: solid 1px #999999;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 11px 5px #41414185;
    position: relative;

    .popup_close{
        position: absolute;
        right:5px;
        top:5px;
        border-top: solid 2px rgba(113, 113, 113, 0.65);
        border-right: solid 2px rgba(113, 113, 113, 0.65);
        color: rgba(216, 216, 216, 0.997);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            // border: 0;
            transform: rotate(-90deg);
            box-shadow: 0px 0px 5px 1px #737373;
        }

        .symbol{
            padding-bottom: 2px;
        }
    }
}

.popupMask{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #45454594;
    backdrop-filter: blur(1px);
    z-index: 2;
}