.AppRightMenu{
    width: 100%;
    position: relative;
    background-color: var(--color-background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    overflow: hidden;
    border: solid 1px var(--color-border-secondary);
}