.AppLeftMenu{
    width: 100%;
    position: relative;
    background-color: var(--color-background-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    overflow: hidden;
    border: solid 1px var(--color-border-2);
    ui-input-search{
        width: 100%;
    }
    ui-layout-tree{
        width: 100%;
    }
}