.AppTopMenu{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 150px 1fr 150px;
    background-color: var( --color-background-2);
    padding-left: 1px;
    padding-right: 1.5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    .left{
        display: flex;
        align-items: center;
        gap: 2px;
        justify-content: left;
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 2px;
    }
    .center{
        min-width: 100px;
        display: flex;
        justify-content: center;
        cursor: default;
    }
    .appname{
        font-weight: 600;
        transform: scaleX(1.5);
        color: var(--color-text-2);
    }
}