#chamber-app{
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    display: grid;
    grid-template-rows: 28px 1fr 28px;
    .app-header{
        height: 28px;
        width: 100%;
        display: flex;
        align-items: center;
    }
}   