#chamber-app{
    height: 100%;
    width: 100%;
    background-color: var(--color-background-1);
    color: var(--color-text-1);
    display: grid;
    grid-template-rows: 28px 1fr 28px;
    .app-header{
        height: 28px;
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .app-footer{
        height: 28px;
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .app-content{
        width: 100%;
        overflow: hidden;
        display: grid;
        position: relative;
        grid-template-columns: auto 1fr auto;
        .app-left-menu, .app-right-menu{
            display: flex;
            position: relative;
            background-color: var(--color-sidebar-background);
        }

        .app-left-menu.open{
            margin-right: 5px;
        }

        .app-right-menu.open{
            margin-left: 5px;
        }

        .app-main-content{
            position: relative;
            background-color: var(--color-sidebar-background);
            height: calc(100% - 2px);
            width: calc(100% - 2px);
            overflow: hidden;
        }

    }

} 