.header{
    position: relative;
    background-color: #424242;
    color: #d3d3d3;
    height: 33px;
    display:flex;
    align-items: center;
    box-shadow: 0 0 2px 1px #aaaaaa;
}
.Logo{
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
}


.Menu{
    height: 100%;
    display: flex;
    align-items: center;
    /* border: solid 1px; */
}

.workspace{
    width: 30px;
    justify-content: center;
    font-size: 20px;
}


.controls{
    grid-gap:3px;
}

.screens{
    justify-content: left;
    flex:1;
}


.MenuItem{
 width: 40px;
 font-size: 14px;
 border-right: solid 1px;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 transition: 0.3s;
 border-color: #373737;
}

.MenuItem:hover{
    background-color: rgb(87, 87, 87);
}

.last{
    border-left: solid 1px;
    border-color: #373737;
}

.active{
    background-color: rgb(81 81 81);
    color: white;
    text-shadow: 0px 0px 2px #ffffff;
    border-color: #373737;
}