.layout-resizable{
    .resize-handle-right{
        height: calc(100% - 1px);
        width: 5px;
        right: -5px;
        top: 0.5px;
        cursor: col-resize;
    }

    .resize-handle-left{
        height: calc(100% - 1px);
        width: 5px;
        left: -5px;
        top: 0.5px;
        cursor: col-resize;
    }

    .resize-handle{
        background: #272727;
        position: absolute;
        z-index: 100;
    }
}