<div class="tree-item ${item.expanded && item.children && item.children.length ? 'expanded' : ''}">
    <div class="tree-item-main" data-path="${item.path}">
        {% if item.children && item.children.length %}
            <ui-icon class="tree-collapse-expand" icon="fa-solid ${item.expanded ? 'fa-caret-down' : 'fa-caret-right'}"></ui-icon>
        {% endif %}
        {% if !item.children || !item.children.length %}
            <div class="reserveSpace"></div>
        {% endif %}
        {% if item.icon %}
            <ui-icon class="tree-item-icon" icon="${item.icon}"></ui-icon>
        {% endif %}
        {% if item.label %}
            <div class="tree-item-label">${item.label}</div>
        {% endif %}
    </div>
    {% if item.expanded && item.children && item.children.length %}
        <div class="tree-item-children">
            ${item.childContent}
        </div>
    {% endif %}
</div>