.Layout-Tree{
    margin-left: 1px;
    width: calc(100% - 3px);
    .tree-item{
        display: grid;
        .tree-item-main{
            font-size: 14px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover{
                background-color: var(--color-button-background-hover);
            }
            .tree-collapse-expand{
                &:hover{
                    color: var(--color-text-hover);
                }
            }
            .tree-item-label{
                padding-left: 5px;
            }
            .reserveSpace{
                width: 18px;
            }
        }
        .tree-item-children{
            margin: 0 9px 5px 9px;
            padding-top:3px;
            padding-bottom:3px;
            border-left: solid 2px var(--color-border-1);
            border-bottom: solid 2px var(--color-border-1);
        }
    }
}