.UI-MenuBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
    .header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        .more{
            margin: 0 6px;
        }
    }
}