.UI-MenuBar{
    background-color: var(--color-gray-secondary);
    height: calc(100% - 4px);

    border-top: solid 2px var(--color-background);
    border-left: solid 2px var(--color-background);

    display: flex;
    flex-direction: column;
    align-items: center;

    .header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        border-bottom: solid 2px var(--color-background);
        align-items: center;
        height: 30px;
        .more{
            margin-right: 13px;
        }
    }
}