.theme-dark {
    /* Near-Black Backgrounds (Used for Base, Surfaces, Elevation) */
    --color-gray-1: #030303; /* Deepest black/off-black (Base) */
    --color-gray-2: #171717;
    --color-gray-3: #131313;
    --color-gray-4: #171717;
    --color-gray-5: #1A1A1A;
    --color-gray-6: #1F1F1F;
    --color-gray-7: #242424;
    --color-gray-8: #292929;
    --color-gray-9: #2E2E2E;
    --color-gray-10: #333333;

    /* Mid-Dark Shades (Used for Dividers, Shadows, Low-Emphasis Elements) */
    --color-gray-11: #383838;
    --color-gray-12: #3E3E3E;
    --color-gray-13: #444444;
    --color-gray-14: #4A4A4A;
    --color-gray-15: #505050;
    --color-gray-16: #565656;
    --color-gray-17: #5C5C5C;
    --color-gray-18: #636363;
    --color-gray-19: #6A6A6A;
    --color-gray-20: #717171;

    /* Mid-Light Shades (Used for Hover States, Secondary Text/Icons) */
    --color-gray-21: #797979;
    --color-gray-22: #818181;
    --color-gray-23: #8A8A8A;
    --color-gray-24: #939393;
    --color-gray-25: #9C9C9C;
    --color-gray-26: #A6A6A6;
    --color-gray-27: #B0B0B0;
    --color-gray-28: #BBBBBB;

    /* Lightest Shades (Used for Primary Text, Icons, Contrast Elements) */
    --color-gray-29: #C8C8C8;
    --color-gray-30: #D9D9D9;
    --color-gray-31: #EAEAEA;
    --color-gray-32: #FFFFFF;
}