#FlowContextMenu{
    position: absolute;
    display: none;
    top: 20px;
    left: 30px;
    height: auto;
    width: 130px;
    background-color: #3c3c3cf5;
    box-shadow: 1px 1px 6px 2px #0000008f;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 15px;
    overflow: hidden;
    .section{
        font-size: 15px;
        border-bottom: solid 1px #ffffff46;
        margin-top: 10px;
    }

    .firstSection{
        margin-top: 0;
    }
    .item{
        font-size: 12px;
        padding: 5px;
        padding-bottom: 2px;
        padding-top: 2px;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            color: orange;
        }
    }
}