 html{
    --color-background: #121212;
    --color-text: #ffffff;
    #Loading-Screen{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
 }

 body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    #chamber-app{
        height: 100%;
        width: 100%;
        background-color: var(--color-background);
        color: var(--color-text);
    }   
}