.theme-light {
    /* Primary Colors */
    --color-background: #FFFFFF;
    --color-background-secondary: #F5F5F5;
    --color-background-tertiary: #EAEAEA;
    --color-text: #1A1A1A;
    --color-text-secondary: #4D4D4D;
    --color-border: #CCCCCC;
    
    /* grey Shades */
    --color-gray-primary: #F5F5F5;
    --color-gray-secondary: #E0E0E0;
    --color-gray-tertiary: #CCCCCC;
    --color-gray-quaternary: #B3B3B3;
    
    /* Button */
    --color-button-background: var(--color-gray-secondary);
    --color-button-background-hover: var(--color-gray-tertiary);
    --color-button-text: var(--color-text);
    --color-button-border: var(--color-border);
}