.UI-FooterToolbar{
    background-color: var(--color-gray-primary);
    height: calc(100% - 1px);
    width: calc(100% - 5px);
    
    border-bottom-left-radius: 6px;
    border-bottom-right-radius:6px;

    background-color: var(--color-gray-secondary);
    border: solid 2px var(--color-background);
    border-top: none;
    border-bottom: none;

    display: flex;
    flex-direction: column;
    .header{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        flex-grow: 1;
        height: 25px;
        border-bottom: solid 2px var(--color-background);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius:6px;
        .UI-HeaderToolbar-Right{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;        
        }
    }
    .moreContent{
        height: calc(100% - 30px);
    }
}

.UI-FooterToolbar.ExpandedMode{
    height: calc(100% - 3px);
    border-bottom: solid 2px var(--color-background);
    .header{
        border-bottom-left-radius: 0;
        border-bottom-right-radius:0;
    }
}