.UI-FooterToolbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .header{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        flex-grow: 1;
        max-height: 30px;
        .UI-HeaderToolbar-Right{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;        
        }
    }
    .moreContent{
        height: calc(100% - 30px);
    }
}